[submodule "aalborg_mfc_interface"]
	path = aalborg_mfc_interface
	url = https://github.com/janelia-modular-devices/aalborg_mfc_interface.git
[submodule "power_switch_controller"]
	path = power_switch_controller
	url = https://github.com/janelia-modular-devices/power_switch_controller
[submodule "enclosure"]
	path = enclosure
	url = https://github.com/janelia-modular-devices/modular_device_enclosure.git
[submodule "host/python"]
	path = host/python
	url = https://github.com/janelia-pypi/modular_device_python.git
[submodule "host/matlab"]
	path = host/matlab
	url = https://github.com/janelia-modular-devices/modular_device_matlab.git
[submodule "host/nodejs"]
	path = host/nodejs
	url = https://github.com/janelia-modular-devices/modular_device_nodejs.git
[submodule "mixed_signal_controller"]
	path = mixed_signal_controller
	url = https://github.com/janelia-modular-devices/mixed_signal_controller.git
[submodule "pwm_controller"]
	path = pwm_controller
	url = https://github.com/janelia-modular-devices/pwm_controller.git
[submodule "stepper_controller"]
	path = stepper_controller
	url = https://github.com/janelia-modular-devices/stepper_controller.git
[submodule "firmware/ModularDevice"]
	path = firmware/ModularDevice
	url = https://github.com/janelia-arduino/ModularDevice
[submodule "firmware/StandaloneInterface"]
	path = firmware/StandaloneInterface
	url = https://github.com/janelia-arduino/StandaloneInterface
[submodule "audio_controller"]
	path = audio_controller
	url = https://github.com/janelia-modular-devices/audio_controller.git
