[submodule "enclosure"]
	path = enclosure
	url = https://github.com/janelia-modular-devices/modular_device_enclosure.git
[submodule "devices/aalborg_mfc_interface"]
	path = devices/aalborg_mfc_interface
	url = https://github.com/janelia-modular-devices/aalborg_mfc_interface.git
[submodule "devices/power_switch_controller"]
	path = devices/power_switch_controller
	url = https://github.com/janelia-modular-devices/power_switch_controller
[submodule "devices/mixed_signal_controller"]
	path = devices/mixed_signal_controller
	url = https://github.com/janelia-modular-devices/mixed_signal_controller.git
[submodule "devices/pwm_controller"]
	path = devices/pwm_controller
	url = https://github.com/janelia-modular-devices/pwm_controller.git
[submodule "devices/stepper_controller"]
	path = devices/stepper_controller
	url = https://github.com/janelia-modular-devices/stepper_controller.git
[submodule "devices/audio_controller"]
	path = devices/audio_controller
	url = https://github.com/janelia-modular-devices/audio_controller.git
[submodule "documentation/standalone_interface"]
	path = documentation/standalone_interface
	url = https://github.com/janelia-modular-devices/modular_device_standalone_interface.git
[submodule "documentation/interface"]
	path = documentation/interface
	url = https://github.com/janelia-modular-devices/modular_device_interface.git
[submodule "documentation/serial_terminal"]
	path = documentation/serial_terminal
	url = https://github.com/janelia-modular-devices/modular_device_serial_terminal.git
