[submodule "enclosure"]
	path = enclosure
	url = https://github.com/janelia-modular-devices/modular_device_enclosure.git
[submodule "devices/power_switch_controller"]
	path = devices/power_switch_controller
	url = https://github.com/janelia-modular-devices/power_switch_controller
[submodule "devices/audio_controller"]
	path = devices/audio_controller
	url = https://github.com/janelia-modular-devices/audio_controller.git
[submodule "documentation/standalone_interface"]
	path = documentation/standalone_interface
	url = https://github.com/janelia-modular-devices/modular_device_standalone_interface.git
[submodule "server/python"]
	path = server/python
	url = https://github.com/janelia-pypi/modular_server_python.git
[submodule "client/serial_terminal"]
	path = client/serial_terminal
	url = https://github.com/janelia-modular-devices/modular_device_serial_terminal.git
[submodule "documentation/protocol"]
	path = documentation/protocol
	url = https://github.com/janelia-modular-devices/modular_device_protocol.git
[submodule "devices/h_bridge_controller"]
	path = devices/h_bridge_controller
	url = https://github.com/janelia-modular-devices/h_bridge_controller.git
[submodule "client/arduino/libraries/ModularClient"]
	path = client/arduino/libraries/ModularClient
	url = https://github.com/janelia-arduino/ModularClient.git
[submodule "client/python"]
	path = client/python
	url = https://github.com/janelia-pypi/modular_client_python.git
[submodule "client/matlab"]
	path = client/matlab
	url = https://github.com/janelia-matlab/modular_client_matlab.git
[submodule "client/labview"]
	path = client/labview
	url = https://github.com/janelia-labview/modular_client_labview.git
[submodule "client/arduino"]
	path = client/arduino
	url = https://github.com/janelia-arduino/ModularClient.git
[submodule "server/arduino"]
	path = server/arduino
	url = https://github.com/janelia-arduino/ModularServer.git
[submodule "firmware/HBridgeController"]
	path = firmware/HBridgeController
	url = https://github.com/janelia-arduino/HBridgeController.git
[submodule "firmware/RungWheelController"]
	path = firmware/RungWheelController
	url = https://github.com/janelia-arduino/RungWheelController.git
[submodule "firmware/AudioController"]
	path = firmware/AudioController
	url = https://github.com/peterpolidoro/AudioController.git
[submodule "firmware/PowerSwitchController"]
	path = firmware/PowerSwitchController
	url = https://github.com/janelia-arduino/PowerSwitchController.git
[submodule "firmware/AuditoryStimulator"]
	path = firmware/AuditoryStimulator
	url = https://github.com/janelia-arduino/AuditoryStimulator.git
[submodule "hardware/h_bridge_controller_5x3"]
	path = hardware/h_bridge_controller_5x3
	url = https://github.com/janelia-kicad/h_bridge_controller_5x3.git
[submodule "hardware/h_bridge_controller_3x2"]
	path = hardware/h_bridge_controller_3x2
	url = https://github.com/janelia-kicad/h_bridge_controller_3x2.git
[submodule "hardware/template_5x3"]
	path = hardware/template_5x3
	url = https://github.com/janelia-kicad/template_5x3.git
[submodule "hardware/modular_device_base_3x2"]
	path = hardware/modular_device_base_3x2
	url = https://github.com/janelia-kicad/modular_device_base_3x2.git
[submodule "hardware/modular_device_base_5x3"]
	path = hardware/modular_device_base_5x3
	url = https://github.com/janelia-kicad/modular_device_base_5x3.git
[submodule "hardware/template_3x2"]
	path = hardware/template_3x2
	url = https://github.com/janelia-kicad/template_3x2.git
[submodule "hardware/high_power_switch_controller_3x2"]
	path = hardware/high_power_switch_controller_3x2
	url = https://github.com/janelia-kicad/high_power_switch_controller_3x2.git
[submodule "hardware/high_power_switch_controller_5x3"]
	path = hardware/high_power_switch_controller_5x3
	url = https://github.com/janelia-kicad/high_power_switch_controller_5x3.git
[submodule "firmware/ModularDeviceBase"]
	path = firmware/ModularDeviceBase
	url = https://github.com/janelia-arduino/ModularDeviceBase.git
[submodule "firmware/StepDirController"]
	path = firmware/StepDirController
	url = https://github.com/janelia-arduino/StepDirController.git
[submodule "firmware/StepperController"]
	path = firmware/StepperController
	url = https://github.com/janelia-arduino/StepperController.git
[submodule "firmware/PelletDispenser"]
	path = firmware/PelletDispenser
	url = https://github.com/janelia-arduino/PelletDispenser.git
[submodule "firmware/StageController"]
	path = firmware/StageController
	url = https://github.com/janelia-arduino/StageController.git
[submodule "hardware/optical_switch_interface_3x2"]
	path = hardware/optical_switch_interface_3x2
	url = https://github.com/janelia-kicad/optical_switch_interface_3x2.git
[submodule "hardware/encoder_interface_simple_3x2"]
	path = hardware/encoder_interface_simple_3x2
	url = https://github.com/janelia-kicad/encoder_interface_simple_3x2.git
[submodule "firmware/HighPowerSwitchController"]
	path = firmware/HighPowerSwitchController
	url = https://github.com/janelia-arduino/HighPowerSwitchController.git
[submodule "hardware/audio_controller_3x2"]
	path = hardware/audio_controller_3x2
	url = https://github.com/janelia-kicad/audio_controller_3x2.git
[submodule "hardware/step_dir_controller_3x2"]
	path = hardware/step_dir_controller_3x2
	url = https://github.com/janelia-kicad/step_dir_controller_3x2.git
[submodule "firmware/OpticalSwitchInterface"]
	path = firmware/OpticalSwitchInterface
	url = https://github.com/janelia-arduino/OpticalSwitchInterface.git
[submodule "firmware/SleepAssayController"]
	path = firmware/SleepAssayController
	url = https://github.com/janelia-arduino/SleepAssayController.git
[submodule "firmware/I2CInterface"]
	path = firmware/I2CInterface
	url = https://github.com/janelia-arduino/I2CInterface.git
[submodule "firmware/ModularDeviceTemplate"]
	path = firmware/ModularDeviceTemplate
	url = https://github.com/janelia-arduino/ModularDeviceTemplate.git
[submodule "firmware/SpinningPlatformController"]
	path = firmware/SpinningPlatformController
	url = https://github.com/janelia-arduino/SpinningPlatformController.git
[submodule "firmware/MixingValveController"]
	path = firmware/MixingValveController
	url = https://github.com/janelia-arduino/MixingValveController.git
[submodule "firmware/MouseJoystickController"]
	path = firmware/MouseJoystickController
	url = https://github.com/janelia-arduino/MouseJoystickController.git
[submodule "firmware/GradientController"]
	path = firmware/GradientController
	url = https://github.com/janelia-arduino/GradientController.git
[submodule "firmware/PulseController"]
	path = firmware/PulseController
	url = https://github.com/janelia-arduino/PulseController.git
[submodule "firmware/ZebrafishTrackerController"]
	path = firmware/ZebrafishTrackerController
	url = https://github.com/janelia-arduino/ZebrafishTrackerController.git
[submodule "firmware/LavisController"]
	path = firmware/LavisController
	url = https://github.com/janelia-arduino/LavisController.git
[submodule "firmware/EncoderInterfaceSimple"]
	path = firmware/EncoderInterfaceSimple
	url = https://github.com/janelia-arduino/EncoderInterfaceSimple.git
[submodule "firmware/LedController"]
	path = firmware/LedController
	url = https://github.com/janelia-arduino/LedController.git
[submodule "firmware/ToydadInterface"]
	path = firmware/ToydadInterface
	url = https://github.com/janelia-arduino/ToydadInterface.git
